node_modules/
.env
*.log
.DS_Store
model.safetensors
embeddings.npy
government_chunks_hnsw.index
chatbot/chatbotmodels/clip_lora_merged/model.safetensors
dskey1.txt
dskey2.txt
dskey3.txt
dskey4.txt
dskey5.txt
dskey6.txt

